<ul>
    <li>@Html.ActionLink("Simple example", "Viewer", "Home")</li>
    <li>@Html.ActionLink("Groups and Summaries example", "Viewer", "Home", new { reportName = "GroupsReportGenerator" }, null)</li>
    <li>@Html.ActionLink("Filtering the data example", "Viewer", "Home", new { reportName = "ParamsReportGenerator" }, null)</li>
</ul>