<ul>
    <li>@Html.ActionLink("Document Viewer", "Viewer", "Home")</li>
    <li>@Html.ActionLink("XtraReport1", "Viewer", "Home", new { reportName = "XtraReport1" }, null)</li>
    <li>@Html.ActionLink("XtraReport2", "Viewer", "Home", new { reportName = "XtraReport2" }, null)</li>
</ul>